#reader-view-header {
    margin-top: 40px;
    height: 30px;
}




#reader-view-retrive-div{
    margin-left: 5%;
    float: left;
}

.search-reader{
    height: 30px;
    border: 1px solid #4cfff0;
    text-align: center;
    border-radius: 5px;
}

#retrieve_reader_button{
    width: 90px;
    text-align: center;
}

#add-book-button-div{
    float: right;
    margin-right: 5%;
}
#add_book_button{
    text-align: center;
    width: 100px;
    color: white;
}